<html>
<body>
<h2>Marbury vs Madison</h2>
<div>
    This is some content.
</div>
<div>
    <div>
        $Question.single_choice("Do you agree with this outcome?", "yes", "no")
    </div>
    <div>
        $Question.single_line_answer("What was the name of the plaintiff?")
    </div>
    <div>
        $Question.multi_choice("Which amendments did this law break?", "Amendment 1", "Amendment 2")
    </div>
    <div>
        $Question.multi_line_answer("How would you have ruled in this case?")
    </div>
</div>
</body>
</html>